* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    background-image: url('https://i.pinimg.com/originals/fd/23/7a/fd237a2875b1860479dc016532e0e850.jpg');
    background-color: rgba(255, 255, 255, 0.7);
}

.main {
    position: relative;
    height: 181px;
    width: 80%; 
    max-width: 446px; 
    margin: 50px auto; 
}

.main:hover {
    box-shadow: 5px 5px 10px black;
   
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

h1 {
    padding: 10px;
    color: white;
    text-align: center; 
}

.serch-input {
    padding: 10px;
}

.btn {
    width: 24%;
    padding: 10px;
    cursor: pointer;
    border: none;
    position: absolute;
    left: 35%;
    border-radius: 8px;
    transition: transform 0.3s ease;
   
    
}

.btn:hover {
    animation: zoomIn 0.3s forwards;
    background-color: rgb(194, 240, 147);
    color: white;
}

#Result {
    position: relative;
    top:-47px;
    width: 80%;
    max-width: 446px;
    margin: 20px auto;
    display: flex;
    color: white;
    flex-wrap: wrap;
    box-shadow: 5px 5px 10px black;
    /* word-wrap: break-word; */
    overflow-wrap: break-word;
}

h2, h4, span {
    padding: 5px;
    font-size: 19px;
}

@keyframes zoomIn {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1); /
    }
  }

/* Media Queries for Tablet */
@media screen and (min-width: 600px) {
    .main {
        width: 60%;
    }
}

/* Media Queries for Mobile */
@media screen and (max-width: 600px) {
    .main {
        width: 90%; 
    }
}
